:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  background-color: var(--very-dark-blue);
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

botton {
  font-family: inherit;
}

p {
  line-height: 1.8;
}

.main-container, .thank-you {
  background-color: var(--dark-blue);
  padding: 1.5rem;
  border-radius: 0.625rem;
  max-width: 400px;
}

.main-container img {
  background-color: hsl(220, 20%, 22%);
  padding: 0.5rem;
  border-radius: 50%;
}

.main-container h1 {
  color: var(--white);
  margin: 2rem 0 1rem;
}

.main-container p {
  color: var(--light-grey);
  margin-bottom: 1rem;
}

.main-container ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.main-container ul li button {
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: hsl(213, 20%, 22%);
  color: var(--white);
  padding-top: 0.1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.main-container ul li button:hover {
  background-color: var(--orange);
}

.main-container ul li button:focus {
  background-color: var(--light-grey);
}

.btn-submit {
  background-color: var(--orange);
  color: var(--white);
  width: 100%;
  padding: 0.8rem 0 0.6rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.3s;
}

.btn-submit:hover {
  background-color: var(--white);
  color: var(--orange);
}

.thank-you {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.thank-you img {
  display: block;
  margin: 0 auto 2rem;
}

.thank-you p.gray {
  font-size: 0.9rem;
  background-color: hsl(213, 20%, 22%);
  color: var(--orange);
  border-radius: 30px;
  padding: 0.2rem 0.5rem 0;
  margin-bottom: 2rem;
}

.thank-you h1 {
  color: var(--white);
  margin-bottom: 1rem;
}

.thank-you p {
  color: var(--light-grey);
  margin-bottom: 2rem;
}

.hidden {
  display: none;
}

.attribution {
  font-size: 14px;
  text-align: center;
  color: var(--white);
  margin-top: 2rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}